/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #ffcc00, #ff6699);
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.logo {
  max-width: 100px;
  margin-top: 10px;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #28a745; /* Color de la barra de progreso */
}

.card {
  border: none;
  margin-bottom: 20px;
}

.card-title {
  color: #ff6699;
  font-weight: 600;
}

.question {
  margin-bottom: 20px;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check-label {
  font-size: 18px;
  color: #333;
  transition: color 0.3s;
}

.form-check-input:checked + .form-check-label {
  color: #007bff;
}

input[type="radio"] {
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-success:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.result {
  font-size: 20px;
  color: #333;
  padding: 20px;
  border: 1px solid #ff6699;
  border-radius: 10px;
  background-color: #fff;
}

/* Responsividad */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .btn-primary, .btn-success {
    width: 100%;
  }
}
